<div class="form-wrapper">
	<h2>Update this task</h2>
<%= render "form" %>

<%= link_to "Back", tasks_path %>
</div>
<!-- TODO: add profile image upload and write a little something about yourself -->