<% if @users.present? %>
<!-- .present? same as .length > 0-->
	<ul>
		<% @users.each do |user| %>
			<li><%= link_to user.first_name, user %></li>
			<!-- link_to(ser.first_name, /user/34521) -->
		<% end %>
	</ul>
<% else %>
	<p>Sorry, there are no users yet.</p>
<% end %>