<div class="front-image">
	<!-- <h3>Habitat</h3> -->
	<p>A household organization app.</p>
</div>

<p>
	<% if user_signed_in? %>
		<div class="welcome-wrap">
			<div class="gradient left">
				<h3>Welcome back, <%= current_user.first_name %>!</h3>
			</div>
			<%= link_to "Log out", destroy_user_session_path, method: :delete, class: "right button" %>
		</div>
	<% else %>
		<div class="welcome-wrap">
			<div class="gradient left">
				<h3>Hi, you are my best guest ever!</h3>
				<p>Don't remain just a guest, become a part of this and improve your life!</p>			
			</div>
			
			<div class="signup-signin right gradient">
				<%= link_to "Log in", new_user_session_path, class: "left button" %>
				<%= link_to "Sign up", new_user_registration_path, class: "right button" %>
			</div>
		</div>
	<% end %>
</p>


<div class="introduction gradient">
	<h3>Are you tired of struggling to keep your place nice and tidy?</h3>
	<p>Here comes help! Habitat will help you and your roommates structure the work in your household and split it up, so everyone gets to do their fair share! </p>
	<p>Don't live in a mess! Let this application help you to enjoy yourself more in a clean and tidy environment.</p>
	<p>This application features a task list, set by your group and if you won't also distributes the tasks amongst you, so you only need to work all the chores off.</p>
</div>
