/*
*= require_tree .
*= require_self
*/

$beige: #f5ede3;
$blue: #144884;
$orange: #f17431;

$display-font: "Arvo", serif;
$text-font: 'Ubuntu', 'Helvetica', sans-serif;

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body,
html {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
}

.gradient {
	background-image: -webkit-linear-gradient(45deg, rgba(20, 72, 132, .25) 0%,rgba(241, 116, 49, .25) 100%);
	background-image: linear-gradient(45deg, rgba(20, 72, 132, .25) 0%,rgba(241, 116, 49, .25) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#144884', endColorstr='#f17431',GradientType=1 );
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	padding: 1rem;
}

header {	
	@media screen and (max-width: 532px) {
		height: 250px;
		margin-top: -50px;
	}
}

.logo {
	width: 100px;
	margin: 0 auto;
	display: block;
	
	@media screen and (max-width: 532px) {
		float: right;
		margin-top: -10px;
	}
	
	@media screen and (max-width: 365px) {
		width: 80px;
	}
}

nav {
	font-family: $text-font;
	font-weight: bold;
	
	.nav-part {
		width: 40%;
		top: 60px;
		position: relative;
		
		@media screen and (max-width: 532px) {
			float: left;
			width: 70%;
		}
				
		&.left {
			text-align: right;
			
			@media screen and (max-width: 532px) {
				text-align: left;
			}
			
			a {
				padding: 5px 10px 5px 40px;
				
				@media screen and (max-width: 532px) {
					padding: 10px;
				}
			}
		}
		
		a {
			padding: 5px 40px 5px 10px;
			margin: 5px 10px;
			text-transform: uppercase;
			text-decoration: none;
			border-bottom: 1px solid;
			color: $orange;
			
			@media screen and (max-width: 732px) {
				display: block;
			}
			@media screen and (max-width: 532px) {
				padding: 10px;
			}
		}
		
		.profile-sub {
			position: absolute;
			top: 20px;
			display: none;
			
			@media screen and (max-width: 732px) {
				background: rgba(245, 237, 227, .75);
			}
			
			a {
				display: block;
				text-transform: capitalize;
				font-weight: normal;
			}
		}
	}
}

.form-wrapper {
	background-image: -webkit-linear-gradient(45deg, rgba(20, 72, 132, .25) 0%,rgba(241, 116, 49, .25) 100%);
	background-image: linear-gradient(45deg, rgba(20, 72, 132, .25) 0%,rgba(241, 116, 49, .25) 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
  
	width: 500px;
	margin: 1rem auto;
	padding: 1rem;
	color: $blue;
	
	@media screen and (max-width: 715px) {
		width: 80%;
	}
	
	@media screen and (max-width: 635px) {
		width: 100%;
	}
	
	@media screen and (max-width: 515px) {
		width: 130%;
		margin-left: -15%;
	}
    
	h2 {
		margin-top: 0;
		text-align: center;
	}
	
	a {
		text-align: center;
		display: block;
	}
  
	.field {
		width: 350px;
		margin: 0 auto;
		position: relative;
		
		@media screen and (max-width: 400px) {
			display: block;
			width: 100%;
		}
    
		input, select {
			position: absolute;
			right: 0;
			width: 150px;
		}
    
		select {
			border-radius: 0;
		}
	}
  
	.actions {
		text-align: center;
		
		@media screen and (max-width: 715px) {
			width: 80%;
		}
		input {
			padding: .5rem;
			margin: 1rem 1rem .5rem;
			background: $blue;
			color: $beige;
			font-size: 1rem;
			font-family: $display-font;
			border: none;
			width: 350px;
			cursor: pointer;
			
			@media screen and (max-width: 715px) {
				width: 113%;
			}

		}
	}
	
	table {
		margin: 0 auto;
	}
	
	#Check_all {
		margin-left: 2.55rem;
	}
	
	.add-remove-extra-user-field {
		background-color: lighten($blue, 10%);
		padding: .5rem;
		margin-bottom: .25rem;
		color: $beige;
		border: none;
		font-family: $text-font;
		text-shadow: none;
	}
}

.notice, .alert {	
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
	color: white;
	font-size: 1.5rem;
	font-family: $display-font;
	margin: 0;	
	color: $blue;
	-webkit-animation: move_out .75s 1s cubic-bezier(.34,-0.6,.6,.47) forwards;
	animation: move_out .75s 1s cubic-bezier(.34,-0.6,.6,.47) forwards;
}

.notice {
	border-top: 1rem solid green;
	color: green;
}
.alert {
	border-top: 1rem red solid;
	color: red;
	display: none;
	
}

@-webkit-keyframes move_out {
	to {
		-webkit-transform: translateY(-100px);
	}
}
@keyframes move_out {
	to {
		transform: translateY(-100px);
	}
}

.main {
	width: 80%;
	max-width: 1300px;
	margin: 0 auto;
	color: $blue;
	font-family: $text-font;

	h1, h2 {
		font-family: $display-font;
	}
}

a {
	color: $orange;
	
	&:hover {
		text-shadow: 0 0 10px $beige;
	}
}

.front-image {
	position: relative;
	height: 400px;
	max-width: 1500px;
	background-image: url("./dishes.png");
	background-size: cover;
	background-position: center;
	margin-top: 1rem;
	
	p {
		position: absolute;
		bottom: -1rem;
		right: 1rem;
		color: $orange;
		font-family: $display-font;
		font-size: 1.5rem;
		font-style: italic;
		font-weight: normal;
	}
	
	@media screen and (max-width: 545px) {
		width: 130%;
		margin-left: -15%;
	}
	
	@media screen and (max-width: 420px) {
		display: none;
	}
}

.introduction {
	padding: 1rem;
	max-width: 1500px;
	
	@media screen and (max-width: 545px) {
		width: 130%;
		margin-left: -15%;
	}
}

.welcome-wrap {
	overflow: hidden;
	max-width: 1500px;
	
	@media screen and (max-width: 545px) {
		width: 130%;
		margin-left: -15%;
	}
	
	&.logged-out-info {
		
		div.gradient.left {
			@media screen and (max-width: 1020px) {
			width: 100%;
		}
		}
		
	}
	
	
	div.gradient.left {
		width: calc(70% - 1rem);
		margin-right: 1rem;
		
		@media screen and (max-width: 545px) {
			width: calc(80% - 1rem);
		}
		
		@media screen and (max-width: 477px) {
			width: 100%;
		}
		
		
		h3 {
			margin: 0;
		}
		
		p {
			margin: 0;
			margin-top: 11px;
		}
	}
	
	.log-out {
		@media screen and (max-width: 477px) {
			display: none;
		}
	}
	
	.signup-signin {
		width: 30%;
		overflow: hidden;
		
		a {
			width: calc(50% - .5rem);
			
			&:first-child {
				margin-right: 1rem;
			}
		}
		
		&.logged-out-controls {
			@media screen and (max-width: 1021px) {
				width: 100%;
				margin-top: 1rem;
			}
		}
	}
}

.button {
	background: $blue;
	padding: 1rem;
	color: $beige;
	font-family: $display-font;
	text-align: center;
	text-decoration: none;
	border: none;
}

.field_with_errors input {
	border: 2px solid red;
}

.field {
	.add-user-field:only-child button {
		display: none;
	}
}

.right {
	float: right;
	vertical-align: top;
}

.left {
	float: left;
	vertical-align: top;
}

.wrapper {
	.profile-information {
		overflow: hidden;
		padding: 1rem;
		
		@media screen and (max-width: 545px) {
			width: 130%;
			margin-left: -15%;
			text-align: center;
		}
		
		.user-edit {
			width: 200px;
			
			a img {
				width: 30px;
				margin-right: 1rem;
			}
		}
		
		.profile-image-wrap {
			@media screen and (max-width: 655px) {
				width: 100%;
			}
		
			.profile-picture {
				width: 200px;
				height: 200px;
				background-size: cover;
				background-position: center center;
				margin: 1rem;
				border: 1px solid;
				position: relative;
				
				@media screen and (max-width: 655px) {
					margin: 0 auto;
				}
				
				.cake {
					position: absolute;
					bottom: 0;
					right: 0;
				}
			}
		}
		
		.user-information {
			width: 50%;
			
			@media screen and (max-width: 655px) {
				width: 100%;
				text-align: center;
			}
		}
	}
}

.task-wrapper {
	overflow: hidden;
	
	@media screen and (max-width: 1000px) {
		width: 120%;
		margin-left: -10%;
	}
	
	@media screen and (max-width: 820px) {
		width: 130%;
		margin-left: -15%;
	}
	
	
		
	.task-list-part {
		width: 50%;
		
		@media screen and (max-width: 740px) {
			width: 70%;
			float: none;
			margin: 0 auto;
		}
		
		@media screen and (max-width: 560px) {
			width: 90%;
		}
		
		@media screen and (max-width: 470px) {
			width: 100%;
		}
		
		h2 {
			margin-left: 1rem;
		}
				
		.task-list {
			width: 100%;
		}
	}
}

.group-member-list {
	width: 100%;
	margin: 1rem auto;
	padding: 1rem;
	text-align: center;
	
	li {
		display: inline-block;
		margin: 10px;
		
		h3, h4 {
			margin: 0;
		}
		
		h3 {
			a {
				color: $blue;
				text-decoration: none;
			}
		}
		
		.group-member {
			background-size: cover;
			background-position: center center;
			width: 100px;
			height: 100px;
			//			border: 1px solid;
			margin-bottom: 10px;
			position: relative;
			
			.crown {
				position: absolute;
				width: 45px;
				top: -30px;
				right: -1rem;
				-webkit-transform: rotate(25deg);
				transform: rotate(25deg);
			}
		}
	}
}

.group-buttons-wrapper {
	overflow: hidden;
	
	.right {
		@media screen and (max-width: 470px) {
			float: left;
		}
	}
}

.link-with-icon {
	overflow: hidden;
	margin-bottom: 1rem;
			
	a {
		line-height: 50px;
		height: 50px;
		font-size: 1rem;
		margin-right: .5rem;
	}
	
	img {
		width: 50px;
		height: 50px;
	}
	
}

.task-list-icon-wrapper {
	overflow: hidden;
	
	.right {
		@media screen and (max-width: 468px) {
			float: left;
		}
	}
}

.task-section {
	padding: .5rem 1rem;
	margin:  1rem .5rem;
}

.task-list {
	width: 75%;
	margin: 0;
	list-style: none;
	padding-left: 0;
	
	//	TODO: make my own checkboxes maybe...
	
	li {
		margin-bottom: 9px;
		
		&:hover .task-controls {
			display: block;
		}
	}
	
	.task-controls {
		display: none;
		
		img {
			width:25px;
		}
		
		a {
			width: 25px;
			
			img {
				width: 25px;
			}
		}
	}
	
	.assigned-user-thumbnail {
		margin-bottom: -6px;
		width: 25px;
		height: 25px;
		background-size: cover;
		background-position: center;
		border-radius: 50%;
	}
}

.stamps-wrap {
	width: 100%;
	margin: 1rem 0;
	
	.posted-stamp {
		display: inline-block;
		
		img {
			width: 40px;
			margin-right: 1rem;
		}
		
		p {
			margin-top: 0;
			font-size: .75rem;
			color: $beige;
		}
	}
}

.comments-wrap, .stamps-menu {
	display: none;
}

.stamps-menu {
	text-align: center;
	margin-top: 1.5rem;
	
	.button {
		padding: .5rem;
		font-size: .9rem;
		margin-top: .5rem;
	}

	.field {
		display: inline-block;
	}
	
	.stamp {
		img {
			width: 40px;			
		}
	}
	
	.stamp-radio {
		display: none;
	}
	
	.clicked-stamp {
		-webkit-filter: drop-shadow(0px 0px 2px $beige);
		filter: drop-shadow(0px 0px 2px $beige);
	}
}
.speech-bubble {
	cursor: pointer;
}
.stamp-toggle {
	cursor: pointer;
	img {
		width: 35px;
	}
	
	p {
		color: $orange;
		text-decoration: underline;
		margin-top: -30px;
		margin-left: 45px;
	}
}

.graph-wrapper {
	overflow: hidden;
	
	@media screen and (max-width: 1000px) {
		width: 130%;
		margin-left: -15%;
	}
	
	#graph {
		display: block;
		margin: 1rem;
		
		@media screen and (max-width: 655px) {
			float: none;
		}
	}
	
	.graph-text {
		width: 60%;
		
		@media screen and (max-width: 1070px) {
			width: 50%;
		}
		
		@media screen and (max-width: 830px) {
			width: 300px;
			margin-right: 1rem;
			display: block;
		}
		
		@media screen and (max-width: 655px) {
			width: 90%;
			float: none;
			margin: 1rem;
		}
	}
}

footer {
	font-family: $text-font;
	border-top: 1px solid $beige;
	margin-top: 40px;
	padding: 1rem;
	
	text-align: center;
	
	p {
		color: $beige;
		margin: 0;
	}
	
	a {
		color: $beige;
	}
	
	.footer-link-wrap {
		@media screen and (max-width: 640px) {
			overflow: hidden;
			margin-bottom: 1rem;
		}
	}
}