/*
 *= require_tree .
 *= require_self
 */

$color: beige;

body {
	background: $color;
}

.field_with_errors input {
	border: 2px solid red;
}

.field {
	.add-user-field:only-child button {
		display: none;
	}
}

.right {
	float: right;
}

.left {
	float: left;
}

.wrapper {
	.profile-information {
		overflow: hidden;
		
		.user-information {
			width: 50%;
		}
	}

	.task-list {
		width: 80%;
	}
}